# HESA Data Analysis - Experimenting

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

In [16]:
files = glob.glob("C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\*.csv")

# print(files)

for f in files:
    temp_file = pd.read_csv(f)
    print(temp_file.head(20))

list = []

# for f in files:
#     temp_file = pd.read_csv(f)
#     list.append(temp_file)
#     print(f'First one done - {f} - shaped like {temp_file.shape}')

# hesa_data = pd.concat(list, axis = 0)
# print(hesa_data.shape)
# hesa_data.head(10)

['C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\table 1-(2014-15).csv', 'C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\table 1-(2015-16).csv', 'C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\table 1-(2016-17).csv', 'C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\table 1-(2017-18).csv', 'C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\table 1-(2018-19).csv', 'C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\table 1-(2019-20).csv', 'C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\table 1-(2020-21).csv', 'C:\\Users\\keena\\OneDrive\\Documents\\Github\\HESA\\table 1-(2021-22).csv']

C:\Users\keena\AppData\Local\Temp\ipykernel_30800\1795116717.py:6: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_file = pd.read_csv(f)

                       Title  \
0                   Location
1             Academic years
2                Data source
3            Data collection
4           Data source link
5   Data file canonical link
6                    Licence
7                  Code page
8                 Disclaimer
9        Table 2014/15 total
10                       NaN
11              Last updated
12                       NaN
13                     UKPRN
14                  10007783
15                  10007783
16                  10007783
17                  10007783
18                  10007783
19                  10007783

   HE student enrolments by HE provider, domicile, level of study, mode of study, first year marker, sex and academic year  \
0                                                  UK
1                                             2014/15
2                                                HESA
3                                            051, 054
4   https://www.hesa.ac.uk/data-and-analysis/stude...
5   https://www.hesa.ac.uk/data-and-analysis/stude...
6   Creative Commons Attribution 4.0 International...
7                                      Unicode UTF-8
8   Please note that this data includes rounded to...
9                                             2315840
10                                                NaN
11                                             Jan-23
12                                                NaN
13                                        HE provider
14                         The University of Aberdeen
15                         The University of Aberdeen
16                         The University of Aberdeen
17                         The University of Aberdeen
18                         The University of Aberdeen
19                         The University of Aberdeen

                Unnamed: 2             Unnamed: 3         Unnamed: 4  \
0                      NaN                    NaN                NaN
1                      NaN                    NaN                NaN
2                      NaN                    NaN                NaN
3                      NaN                    NaN                NaN
4                      NaN                    NaN                NaN
5                      NaN                    NaN                NaN
6                      NaN                    NaN                NaN
7                      NaN                    NaN                NaN
8                      NaN                    NaN                NaN
9                      NaN                    NaN                NaN
10                     NaN                    NaN                NaN
11                     NaN                    NaN                NaN
12                     NaN                    NaN                NaN
13  Country of HE provider  Region of HE provider  First year marker
14                     All                    All                All
15                     All                    All                All
16                     All                    All                All
17                     All                    All                All
18                     All                    All                All
19                     All                    All                All

        Unnamed: 5     Unnamed: 6     Unnamed: 7       Unnamed: 8 Unnamed: 9  \
0              NaN            NaN            NaN              NaN        NaN
1              NaN            NaN            NaN              NaN        NaN
2              NaN            NaN            NaN              NaN        NaN
3              NaN            NaN            NaN              NaN        NaN
4              NaN            NaN            NaN              NaN        NaN
5              NaN            NaN            NaN              NaN        NaN
6              NaN            NaN            NaN              NaN        NaN
7              NaN            NaN            NaN              NaN        NaN
8              NaN            NaN            NaN              NaN        NaN
9              NaN            NaN            NaN              NaN        NaN
10             NaN            NaN            NaN              NaN        NaN
11             NaN            NaN            NaN              NaN        NaN
12             NaN            NaN            NaN              NaN        NaN
13  Level of study  Mode of study  Academic Year  Category marker   Category
14             All            All        2014/15              Sex     Female
15             All            All        2014/15              Sex       Male
16             All            All        2014/15              Sex      Other
17             All            All        2014/15              Sex  Not known
18             All            All        2014/15         Domicile    England
19             All            All        2014/15         Domicile   Scotland

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13      Number
14        7830
15        6210
16           0
17           0
18        1485
19        8310

C:\Users\keena\AppData\Local\Temp\ipykernel_30800\1795116717.py:6: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_file = pd.read_csv(f)

                       Title  \
0                   Location
1             Academic years
2                Data source
3            Data collection
4           Data source link
5   Data file canonical link
6                    Licence
7                  Code page
8                 Disclaimer
9        Table 2015/16 total
10                       NaN
11              Last updated
12                       NaN
13                     UKPRN
14                  10008071
15                  10008071
16                  10008071
17                  10008071
18                  10008071
19                  10008071

   HE student enrolments by HE provider, domicile, level of study, mode of study, first year marker, sex and academic year  \
0                                                  UK
1                                             2015/16
2                                                HESA
3                                            051, 054
4   https://www.hesa.ac.uk/data-and-analysis/stude...
5   https://www.hesa.ac.uk/data-and-analysis/stude...
6   Creative Commons Attribution 4.0 International...
7                                      Unicode UTF-8
8   Please note that this data includes rounded to...
9                                             2332825
10                                                NaN
11                                             Jan-23
12                                                NaN
13                                        HE provider
14                          AA School of Architecture
15                          AA School of Architecture
16                          AA School of Architecture
17                          AA School of Architecture
18                          AA School of Architecture
19                          AA School of Architecture

                Unnamed: 2             Unnamed: 3         Unnamed: 4  \
0                      NaN                    NaN                NaN
1                      NaN                    NaN                NaN
2                      NaN                    NaN                NaN
3                      NaN                    NaN                NaN
4                      NaN                    NaN                NaN
5                      NaN                    NaN                NaN
6                      NaN                    NaN                NaN
7                      NaN                    NaN                NaN
8                      NaN                    NaN                NaN
9                      NaN                    NaN                NaN
10                     NaN                    NaN                NaN
11                     NaN                    NaN                NaN
12                     NaN                    NaN                NaN
13  Country of HE provider  Region of HE provider  First year marker
14                     All                    All                All
15                     All                    All                All
16                     All                    All                All
17                     All                    All                All
18                     All                    All                All
19                     All                    All                All

        Unnamed: 5     Unnamed: 6     Unnamed: 7       Unnamed: 8 Unnamed: 9  \
0              NaN            NaN            NaN              NaN        NaN
1              NaN            NaN            NaN              NaN        NaN
2              NaN            NaN            NaN              NaN        NaN
3              NaN            NaN            NaN              NaN        NaN
4              NaN            NaN            NaN              NaN        NaN
5              NaN            NaN            NaN              NaN        NaN
6              NaN            NaN            NaN              NaN        NaN
7              NaN            NaN            NaN              NaN        NaN
8              NaN            NaN            NaN              NaN        NaN
9              NaN            NaN            NaN              NaN        NaN
10             NaN            NaN            NaN              NaN        NaN
11             NaN            NaN            NaN              NaN        NaN
12             NaN            NaN            NaN              NaN        NaN
13  Level of study  Mode of study  Academic Year  Category marker   Category
14             All            All        2015/16              Sex     Female
15             All            All        2015/16              Sex       Male
16             All            All        2015/16              Sex      Other
17             All            All        2015/16              Sex  Not known
18             All            All        2015/16         Domicile    England
19             All            All        2015/16         Domicile   Scotland

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13      Number
14         240
15         230
16           0
17           0
18          70
19           0

C:\Users\keena\AppData\Local\Temp\ipykernel_30800\1795116717.py:6: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_file = pd.read_csv(f)

                       Title  \
0                   Location
1             Academic years
2                Data source
3            Data collection
4           Data source link
5   Data file canonical link
6                    Licence
7                  Code page
8                 Disclaimer
9        Table 2016/17 total
10                       NaN
11              Last updated
12                       NaN
13                     UKPRN
14                  10008071
15                  10008071
16                  10008071
17                  10008071
18                  10008071
19                  10008071

   HE student enrolments by HE provider, domicile, level of study, mode of study, first year marker, sex and academic year  \
0                                                  UK
1                                             2016/17
2                                                HESA
3                                            051, 054
4   https://www.hesa.ac.uk/data-and-analysis/stude...
5   https://www.hesa.ac.uk/data-and-analysis/stude...
6   Creative Commons Attribution 4.0 International...
7                                      Unicode UTF-8
8   Please note that this data includes rounded to...
9                                             2376975
10                                                NaN
11                                             Jan-23
12                                                NaN
13                                        HE provider
14                          AA School of Architecture
15                          AA School of Architecture
16                          AA School of Architecture
17                          AA School of Architecture
18                          AA School of Architecture
19                          AA School of Architecture

                Unnamed: 2             Unnamed: 3         Unnamed: 4  \
0                      NaN                    NaN                NaN
1                      NaN                    NaN                NaN
2                      NaN                    NaN                NaN
3                      NaN                    NaN                NaN
4                      NaN                    NaN                NaN
5                      NaN                    NaN                NaN
6                      NaN                    NaN                NaN
7                      NaN                    NaN                NaN
8                      NaN                    NaN                NaN
9                      NaN                    NaN                NaN
10                     NaN                    NaN                NaN
11                     NaN                    NaN                NaN
12                     NaN                    NaN                NaN
13  Country of HE provider  Region of HE provider  First year marker
14                     All                    All                All
15                     All                    All                All
16                     All                    All                All
17                     All                    All                All
18                     All                    All                All
19                     All                    All                All

        Unnamed: 5     Unnamed: 6     Unnamed: 7       Unnamed: 8 Unnamed: 9  \
0              NaN            NaN            NaN              NaN        NaN
1              NaN            NaN            NaN              NaN        NaN
2              NaN            NaN            NaN              NaN        NaN
3              NaN            NaN            NaN              NaN        NaN
4              NaN            NaN            NaN              NaN        NaN
5              NaN            NaN            NaN              NaN        NaN
6              NaN            NaN            NaN              NaN        NaN
7              NaN            NaN            NaN              NaN        NaN
8              NaN            NaN            NaN              NaN        NaN
9              NaN            NaN            NaN              NaN        NaN
10             NaN            NaN            NaN              NaN        NaN
11             NaN            NaN            NaN              NaN        NaN
12             NaN            NaN            NaN              NaN        NaN
13  Level of study  Mode of study  Academic Year  Category marker   Category
14             All            All        2016/17              Sex     Female
15             All            All        2016/17              Sex       Male
16             All            All        2016/17              Sex      Other
17             All            All        2016/17              Sex  Not known
18             All            All        2016/17         Domicile    England
19             All            All        2016/17         Domicile   Scotland

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13      Number
14         230
15         220
16           0
17           0
18          70
19           0

C:\Users\keena\AppData\Local\Temp\ipykernel_30800\1795116717.py:6: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_file = pd.read_csv(f)

                       Title  \
0                   Location
1             Academic years
2                Data source
3            Data collection
4           Data source link
5   Data file canonical link
6                    Licence
7                  Code page
8                 Disclaimer
9        Table 2017/18 total
10                       NaN
11              Last updated
12                       NaN
13                     UKPRN
14                  10008071
15                  10008071
16                  10008071
17                  10008071
18                  10008071
19                  10008071

   HE student enrolments by HE provider, domicile, level of study, mode of study, first year marker, sex and academic year  \
0                                                  UK
1                                             2017/18
2                                                HESA
3                                            051, 054
4   https://www.hesa.ac.uk/data-and-analysis/stude...
5   https://www.hesa.ac.uk/data-and-analysis/stude...
6   Creative Commons Attribution 4.0 International...
7                                      Unicode UTF-8
8   Please note that this data includes rounded to...
9                                             2414745
10                                                NaN
11                                             Jan-23
12                                                NaN
13                                        HE provider
14                          AA School of Architecture
15                          AA School of Architecture
16                          AA School of Architecture
17                          AA School of Architecture
18                          AA School of Architecture
19                          AA School of Architecture

                Unnamed: 2             Unnamed: 3         Unnamed: 4  \
0                      NaN                    NaN                NaN
1                      NaN                    NaN                NaN
2                      NaN                    NaN                NaN
3                      NaN                    NaN                NaN
4                      NaN                    NaN                NaN
5                      NaN                    NaN                NaN
6                      NaN                    NaN                NaN
7                      NaN                    NaN                NaN
8                      NaN                    NaN                NaN
9                      NaN                    NaN                NaN
10                     NaN                    NaN                NaN
11                     NaN                    NaN                NaN
12                     NaN                    NaN                NaN
13  Country of HE provider  Region of HE provider  First year marker
14                     All                    All                All
15                     All                    All                All
16                     All                    All                All
17                     All                    All                All
18                     All                    All                All
19                     All                    All                All

        Unnamed: 5     Unnamed: 6     Unnamed: 7       Unnamed: 8 Unnamed: 9  \
0              NaN            NaN            NaN              NaN        NaN
1              NaN            NaN            NaN              NaN        NaN
2              NaN            NaN            NaN              NaN        NaN
3              NaN            NaN            NaN              NaN        NaN
4              NaN            NaN            NaN              NaN        NaN
5              NaN            NaN            NaN              NaN        NaN
6              NaN            NaN            NaN              NaN        NaN
7              NaN            NaN            NaN              NaN        NaN
8              NaN            NaN            NaN              NaN        NaN
9              NaN            NaN            NaN              NaN        NaN
10             NaN            NaN            NaN              NaN        NaN
11             NaN            NaN            NaN              NaN        NaN
12             NaN            NaN            NaN              NaN        NaN
13  Level of study  Mode of study  Academic Year  Category marker   Category
14             All            All        2017/18              Sex     Female
15             All            All        2017/18              Sex       Male
16             All            All        2017/18              Sex      Other
17             All            All        2017/18              Sex  Not known
18             All            All        2017/18         Domicile    England
19             All            All        2017/18         Domicile   Scotland

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13      Number
14         375
15         335
16           0
17           0
18          95
19           0

C:\Users\keena\AppData\Local\Temp\ipykernel_30800\1795116717.py:6: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_file = pd.read_csv(f)

                       Title  \
0                   Location
1             Academic years
2                Data source
3            Data collection
4           Data source link
5   Data file canonical link
6                    Licence
7                  Code page
8                 Disclaimer
9        Table 2018/19 total
10                       NaN
11              Last updated
12                       NaN
13                     UKPRN
14                  10008071
15                  10008071
16                  10008071
17                  10008071
18                  10008071
19                  10008071

   HE student enrolments by HE provider, domicile, level of study, mode of study, first year marker, sex and academic year  \
0                                                  UK
1                                             2018/19
2                                                HESA
3                                            051, 054
4   https://www.hesa.ac.uk/data-and-analysis/stude...
5   https://www.hesa.ac.uk/data-and-analysis/stude...
6   Creative Commons Attribution 4.0 International...
7                                      Unicode UTF-8
8   Please note that this data includes rounded to...
9                                             2456545
10                                                NaN
11                                             Jan-23
12                                                NaN
13                                        HE provider
14                          AA School of Architecture
15                          AA School of Architecture
16                          AA School of Architecture
17                          AA School of Architecture
18                          AA School of Architecture
19                          AA School of Architecture

                Unnamed: 2             Unnamed: 3         Unnamed: 4  \
0                      NaN                    NaN                NaN
1                      NaN                    NaN                NaN
2                      NaN                    NaN                NaN
3                      NaN                    NaN                NaN
4                      NaN                    NaN                NaN
5                      NaN                    NaN                NaN
6                      NaN                    NaN                NaN
7                      NaN                    NaN                NaN
8                      NaN                    NaN                NaN
9                      NaN                    NaN                NaN
10                     NaN                    NaN                NaN
11                     NaN                    NaN                NaN
12                     NaN                    NaN                NaN
13  Country of HE provider  Region of HE provider  First year marker
14                     All                    All                All
15                     All                    All                All
16                     All                    All                All
17                     All                    All                All
18                     All                    All                All
19                     All                    All                All

        Unnamed: 5     Unnamed: 6     Unnamed: 7       Unnamed: 8 Unnamed: 9  \
0              NaN            NaN            NaN              NaN        NaN
1              NaN            NaN            NaN              NaN        NaN
2              NaN            NaN            NaN              NaN        NaN
3              NaN            NaN            NaN              NaN        NaN
4              NaN            NaN            NaN              NaN        NaN
5              NaN            NaN            NaN              NaN        NaN
6              NaN            NaN            NaN              NaN        NaN
7              NaN            NaN            NaN              NaN        NaN
8              NaN            NaN            NaN              NaN        NaN
9              NaN            NaN            NaN              NaN        NaN
10             NaN            NaN            NaN              NaN        NaN
11             NaN            NaN            NaN              NaN        NaN
12             NaN            NaN            NaN              NaN        NaN
13  Level of study  Mode of study  Academic Year  Category marker   Category
14             All            All        2018/19              Sex     Female
15             All            All        2018/19              Sex       Male
16             All            All        2018/19              Sex      Other
17             All            All        2018/19              Sex  Not known
18             All            All        2018/19         Domicile    England
19             All            All        2018/19         Domicile   Scotland

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13      Number
14         435
15         340
16           0
17           0
18          90
19           0

C:\Users\keena\AppData\Local\Temp\ipykernel_30800\1795116717.py:6: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_file = pd.read_csv(f)

                       Title  \
0                   Location
1             Academic years
2                Data source
3            Data collection
4           Data source link
5   Data file canonical link
6                    Licence
7                  Code page
8                 Disclaimer
9        Table 2019/20 total
10                       NaN
11              Last updated
12                       NaN
13                     UKPRN
14                  10008071
15                  10008071
16                  10008071
17                  10008071
18                  10008071
19                  10008071

   HE student enrolments by HE provider, domicile, level of study, mode of study, first year marker, sex and academic year  \
0                                                  UK
1                                             2019/20
2                                                HESA
3                                            051, 054
4   https://www.hesa.ac.uk/data-and-analysis/stude...
5   https://www.hesa.ac.uk/data-and-analysis/stude...
6   Creative Commons Attribution 4.0 International...
7                                      Unicode UTF-8
8   Please note that this data includes rounded to...
9                                             2532165
10                                                NaN
11                                             Jan-23
12                                                NaN
13                                        HE provider
14                          AA School of Architecture
15                          AA School of Architecture
16                          AA School of Architecture
17                          AA School of Architecture
18                          AA School of Architecture
19                          AA School of Architecture

                Unnamed: 2             Unnamed: 3         Unnamed: 4  \
0                      NaN                    NaN                NaN
1                      NaN                    NaN                NaN
2                      NaN                    NaN                NaN
3                      NaN                    NaN                NaN
4                      NaN                    NaN                NaN
5                      NaN                    NaN                NaN
6                      NaN                    NaN                NaN
7                      NaN                    NaN                NaN
8                      NaN                    NaN                NaN
9                      NaN                    NaN                NaN
10                     NaN                    NaN                NaN
11                     NaN                    NaN                NaN
12                     NaN                    NaN                NaN
13  Country of HE provider  Region of HE provider  First year marker
14                     All                    All                All
15                     All                    All                All
16                     All                    All                All
17                     All                    All                All
18                     All                    All                All
19                     All                    All                All

        Unnamed: 5     Unnamed: 6     Unnamed: 7       Unnamed: 8 Unnamed: 9  \
0              NaN            NaN            NaN              NaN        NaN
1              NaN            NaN            NaN              NaN        NaN
2              NaN            NaN            NaN              NaN        NaN
3              NaN            NaN            NaN              NaN        NaN
4              NaN            NaN            NaN              NaN        NaN
5              NaN            NaN            NaN              NaN        NaN
6              NaN            NaN            NaN              NaN        NaN
7              NaN            NaN            NaN              NaN        NaN
8              NaN            NaN            NaN              NaN        NaN
9              NaN            NaN            NaN              NaN        NaN
10             NaN            NaN            NaN              NaN        NaN
11             NaN            NaN            NaN              NaN        NaN
12             NaN            NaN            NaN              NaN        NaN
13  Level of study  Mode of study  Academic Year  Category marker   Category
14             All            All        2019/20              Sex     Female
15             All            All        2019/20              Sex       Male
16             All            All        2019/20              Sex      Other
17             All            All        2019/20              Sex  Not known
18             All            All        2019/20         Domicile    England
19             All            All        2019/20         Domicile   Scotland

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13      Number
14         485
15         345
16           0
17           0
18          85
19           0

C:\Users\keena\AppData\Local\Temp\ipykernel_30800\1795116717.py:6: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_file = pd.read_csv(f)

                       Title  \
0                   Location
1             Academic years
2                Data source
3            Data collection
4           Data source link
5   Data file canonical link
6                    Licence
7                  Code page
8                 Disclaimer
9        Table 2020/21 total
10                       NaN
11              Last updated
12                       NaN
13                     UKPRN
14                  10008071
15                  10008071
16                  10008071
17                  10008071
18                  10008071
19                  10008071

   HE student enrolments by HE provider, domicile, level of study, mode of study, first year marker, sex and academic year  \
0                                                  UK
1                                             2020/21
2                                                HESA
3                                            051, 054
4   https://www.hesa.ac.uk/data-and-analysis/stude...
5   https://www.hesa.ac.uk/data-and-analysis/stude...
6   Creative Commons Attribution 4.0 International...
7                                      Unicode UTF-8
8   Please note that this data includes rounded to...
9                                             2751865
10                                                NaN
11                                             Jan-23
12                                                NaN
13                                        HE provider
14                          AA School of Architecture
15                          AA School of Architecture
16                          AA School of Architecture
17                          AA School of Architecture
18                          AA School of Architecture
19                          AA School of Architecture

                Unnamed: 2             Unnamed: 3         Unnamed: 4  \
0                      NaN                    NaN                NaN
1                      NaN                    NaN                NaN
2                      NaN                    NaN                NaN
3                      NaN                    NaN                NaN
4                      NaN                    NaN                NaN
5                      NaN                    NaN                NaN
6                      NaN                    NaN                NaN
7                      NaN                    NaN                NaN
8                      NaN                    NaN                NaN
9                      NaN                    NaN                NaN
10                     NaN                    NaN                NaN
11                     NaN                    NaN                NaN
12                     NaN                    NaN                NaN
13  Country of HE provider  Region of HE provider  First year marker
14                     All                    All                All
15                     All                    All                All
16                     All                    All                All
17                     All                    All                All
18                     All                    All                All
19                     All                    All                All

        Unnamed: 5     Unnamed: 6     Unnamed: 7       Unnamed: 8 Unnamed: 9  \
0              NaN            NaN            NaN              NaN        NaN
1              NaN            NaN            NaN              NaN        NaN
2              NaN            NaN            NaN              NaN        NaN
3              NaN            NaN            NaN              NaN        NaN
4              NaN            NaN            NaN              NaN        NaN
5              NaN            NaN            NaN              NaN        NaN
6              NaN            NaN            NaN              NaN        NaN
7              NaN            NaN            NaN              NaN        NaN
8              NaN            NaN            NaN              NaN        NaN
9              NaN            NaN            NaN              NaN        NaN
10             NaN            NaN            NaN              NaN        NaN
11             NaN            NaN            NaN              NaN        NaN
12             NaN            NaN            NaN              NaN        NaN
13  Level of study  Mode of study  Academic Year  Category marker   Category
14             All            All        2020/21              Sex     Female
15             All            All        2020/21              Sex       Male
16             All            All        2020/21              Sex      Other
17             All            All        2020/21              Sex  Not known
18             All            All        2020/21         Domicile    England
19             All            All        2020/21         Domicile   Scotland

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13      Number
14         575
15         390
16           0
17           0
18          90
19           0
                       Title  \
0                   Location
1             Academic years
2                Data source
3            Data collection
4           Data source link
5   Data file canonical link
6                    Licence
7                  Code page
8                 Disclaimer
9        Table 2021/22 total
10                       NaN
11              Last updated
12                       NaN
13                     UKPRN
14                  10008071
15                  10008071
16                  10008071
17                  10008071
18                  10008071
19                  10008071

   HE student enrolments by HE provider, domicile, level of study, mode of study, first year marker, sex and academic year  \
0                                                  UK
1                                             2021/22
2                                                HESA
3                                            051, 054
4   https://www.hesa.ac.uk/data-and-analysis/stude...
5   https://www.hesa.ac.uk/data-and-analysis/stude...
6   Creative Commons Attribution 4.0 International...
7                                      Unicode UTF-8
8   Please note that this data includes rounded to...
9                                             2862620
10                                                NaN
11                                             Jan-23
12                                                NaN
13                                        HE provider
14                          AA School of Architecture
15                          AA School of Architecture
16                          AA School of Architecture
17                          AA School of Architecture
18                          AA School of Architecture
19                          AA School of Architecture

                Unnamed: 2             Unnamed: 3         Unnamed: 4  \
0                      NaN                    NaN                NaN
1                      NaN                    NaN                NaN
2                      NaN                    NaN                NaN
3                      NaN                    NaN                NaN
4                      NaN                    NaN                NaN
5                      NaN                    NaN                NaN
6                      NaN                    NaN                NaN
7                      NaN                    NaN                NaN
8                      NaN                    NaN                NaN
9                      NaN                    NaN                NaN
10                     NaN                    NaN                NaN
11                     NaN                    NaN                NaN
12                     NaN                    NaN                NaN
13  Country of HE provider  Region of HE provider  First year marker
14                     All                    All                All
15                     All                    All                All
16                     All                    All                All
17                     All                    All                All
18                     All                    All                All
19                     All                    All                All

        Unnamed: 5     Unnamed: 6     Unnamed: 7       Unnamed: 8 Unnamed: 9  \
0              NaN            NaN            NaN              NaN        NaN
1              NaN            NaN            NaN              NaN        NaN
2              NaN            NaN            NaN              NaN        NaN
3              NaN            NaN            NaN              NaN        NaN
4              NaN            NaN            NaN              NaN        NaN
5              NaN            NaN            NaN              NaN        NaN
6              NaN            NaN            NaN              NaN        NaN
7              NaN            NaN            NaN              NaN        NaN
8              NaN            NaN            NaN              NaN        NaN
9              NaN            NaN            NaN              NaN        NaN
10             NaN            NaN            NaN              NaN        NaN
11             NaN            NaN            NaN              NaN        NaN
12             NaN            NaN            NaN              NaN        NaN
13  Level of study  Mode of study  Academic Year  Category marker   Category
14             All            All        2021/22              Sex     Female
15             All            All        2021/22              Sex       Male
16             All            All        2021/22              Sex      Other
17             All            All        2021/22              Sex  Not known
18             All            All        2021/22         Domicile    England
19             All            All        2021/22         Domicile   Scotland

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13      Number
14         600
15         410
16           0
17           0
18          95
19           0

C:\Users\keena\AppData\Local\Temp\ipykernel_30800\1795116717.py:6: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_file = pd.read_csv(f)